<h1>Fakers and their Avatars</h1>
<% @fakers.each do |faker| %>
  <div class="faker-preview">
    <h2><%= faker.name %></h2>
    <p><%= faker.title %></p>
    <img class="my-avatar" src="<%= faker.avatar %>">
    <button><a href="/fakers/<%= faker.id %>">Learn More</a></button>
  </div>
<% end %>
